<mat-card>
  <mat-card-title>Change Your Password</mat-card-title>
  <mat-card-subtitle>This will take effect immediately for all Mercury applications.</mat-card-subtitle>
  <mat-form-field appearance="fill">
    <mat-label>Current Password</mat-label>
    <label>
      <input required [(ngModel)]="resetData.old" type="password" matInput>
    </label>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <label>
      <input required [(ngModel)]="resetData.new" type="password" matInput>
    </label>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <label>
      <input required [(ngModel)]="resetData.confirm" type="password" matInput (keydown.enter)="resetPassword()">
    </label>
  </mat-form-field>
  <br/>
  <button mat-raised-button (click)="resetPassword()" color="primary">Change</button>
</mat-card>
